.upcycle {
    width: 150px;
}

.login-container {
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.container{
    display: grid;
    margin-left: 38%;
}

h1{
    text-align: center;
    font-size: 45px;
}

h2{
    text-align: center;
    font-size: 40px;
}

h3{
    color: #7DAB08;
    font: medium;
}

.sign-up{
    display: flex;
    margin-left: 38%;
    gap: 1%;
    font-size: 28px;

}

label {
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 25px;
}

input {
    width: 35%;
    padding: 20px;
    border: 5px solid #F2E5DD;
    border-radius: 4px;
    background-color: #F2E5DD;


}

button {
    width: 15%;
    padding: 10px;
    background-color: #070E50;
    color: white;
    border: none;
    font-size: 25px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 30px;
    margin-left:12%;
   
}

button:hover {
    background-color: #7DAB08;
}

@media screen and (min-width:280px) and (max-width:300px){
    
    .login-container {
        padding: 20px;
        background: white;
        border-radius: 5px;
    }
    
    .container{
        display: grid;
        margin-left: 2%;
    }
    
    h1{
        text-align: center;
        font-size: 25px;
    }
    
    h2{
        text-align: center;
        font-size: 24px;
    }
    
    h3{
        color: #7DAB08;
        font-size: 15x;
    }

    h4{
        font-size: 15x;

    }
    
    .sign-up{
        display: flex;
        margin-left: 8%;
        gap: 1%;
        font-size: 15px;
    
    }
    
    label {
        display: block;
        margin-bottom: 25px;
        margin-top: 5px;
        font-size: 15px;
    }
    
    input {
        width: 80%;
        padding: 10px;
        border: 5px solid #F2E5DD;
        border-radius: 4px;
        background-color: #F2E5DD;
    
    
    }
    
    button {
        width: 45%;
        padding: 10px;
        background-color: #070E50;
        color: white;
        border: none;
        font-size: 25px;
        border-radius: 7px;
        cursor: pointer;
        margin-top: 30px;
        margin-left:25%;
       
    }
    
    button:hover {
        background-color: #7DAB08;
    }

    
}

@media screen and (min-width:301px) and (max-width:375px){

   .login-container {
        padding: 20px;
        background: white;
        border-radius: 5px;
    }
    
    .container{
        display: grid;
        margin-left: 2%;
    }
    
    h1{
        text-align: center;
        font-size: 28px;
    }
    
    h2{
        text-align: center;
        font-size: 26px;
    }
    
    h3{
        color: #7DAB08;
        font-size: 15x;
    }

    h4{
        font-size: 15x;

    }
    
    .sign-up{
        display: flex;
        margin-left: 8%;
        gap: 1%;
        font-size: 20px;
    
    }
    
    label {
        display: block;
        margin-bottom: 25px;
        margin-top: 5px;
        font-size: 20px;
    }
    
    input {
        width: 87%;
        padding: 13px;
        border: 5px solid #F2E5DD;
        border-radius: 4px;
        background-color: #F2E5DD;
    
    
    }
    
    button {
        width: 45%;
        padding: 10px;
        background-color: #070E50;
        color: white;
        border: none;
        font-size: 25px;
        border-radius: 7px;
        cursor: pointer;
        margin-top: 30px;
        margin-left:25%;
       
    }
    
    button:hover {
        background-color: #7DAB08;
    }
}

    

@media screen and (min-width:376px) and (max-width:400px){

    .login-container {
        padding: 20px;
        background: white;
        border-radius: 5px;
    }
    
    .container{
        display: grid;
        margin-left: 2%;
    }
    
    h1{
        text-align: center;
        font-size: 35px;
    }
    
    h2{
        text-align: center;
        font-size: 28px;
    }
    
    h3{
        color: #7DAB08;
        font-size: 15x;
    }

    h4{
        font-size: 15x;

    }
    
    .sign-up{
        display: flex;
        margin-left: 7%;
        gap: 1%;
        font-size: 22px;
    
    }
    
    label {
        display: block;
        margin-bottom: 25px;
        margin-top: 5px;
        font-size: 25px;
    }
    
    input {
        width: 88%;
        padding: 13px;
        border: 5px solid #F2E5DD;
        border-radius: 4px;
        background-color: #F2E5DD;
    
    
    }
    
    button {
        width: 45%;
        padding: 10px;
        background-color: #070E50;
        color: white;
        border: none;
        font-size: 25px;
        border-radius: 7px;
        cursor: pointer;
        margin-top: 30px;
        margin-left:26%;
       
    }
    
    button:hover {
        background-color: #7DAB08;
    }
    
}

@media screen and (min-width:401px) and (max-width:450px){

    .login-container {
        padding: 20px;
        background: white;
        border-radius: 5px;
    }
    
    .container{
        display: grid;
        margin-left: 2%;
    }
    
    h1{
        text-align: center;
        font-size: 30px;
    }
    
    h2{
        text-align: center;
        font-size: 26px;
    }
    
    h3{
        color: #7DAB08;
        font-size: 15x;
    }

    h4{
        font-size: 15x;

    }
    
    .sign-up{
        display: flex;
        margin-left: 7%;
        gap: 1%;
        font-size: 23px;
    
    }
    
    label {
        display: block;
        margin-bottom: 25px;
        margin-top: 5px;
        font-size: 25px;
    }
    
    input {
        width: 88%;
        padding: 15px;
        border: 5px solid #F2E5DD;
        border-radius: 4px;
        background-color: #F2E5DD;
    
    
    }
    
    button {
        width: 45%;
        padding: 10px;
        background-color: #070E50;
        color: white;
        border: none;
        font-size: 25px;
        border-radius: 7px;
        cursor: pointer;
        margin-top: 30px;
        margin-left:26%;
       
    }
    
    button:hover {
        background-color: #7DAB08;
    }
    
}
    
@media screen and (min-width:451px) and (max-width:550px){

    .login-container {
        padding: 20px;
        background: white;
        border-radius: 5px;
    }
    
    .container{
        display: grid;
        margin-left: 2%;
    }
    
    h1{
        text-align: center;
        font-size: 30px;
    }
    
    h2{
        text-align: center;
        font-size: 28px;
    }
    
    h3{
        color: #7DAB08;
        font-size: 15x;
    }

    h4{
        font-size: 15x;

    }
    
    .sign-up{
        display: flex;
        margin-left: 8%;
        gap: 1%;
        font-size: 29px;
    
    }
    
    label {
        display: block;
        margin-bottom: 25px;
        margin-top: 5px;
        font-size: 25px;
    }
    
    input {
        width: 91%;
        padding: 14px;
        border: 5px solid #F2E5DD;
        border-radius: 4px;
        background-color: #F2E5DD;
    
    
    }
    
    button {
        width: 45%;
        padding: 10px;
        background-color: #070E50;
        color: white;
        border: none;
        font-size: 25px;
        border-radius: 7px;
        cursor: pointer;
        margin-top: 30px;
        margin-left:25%;
       
    }
    
    button:hover {
        background-color: #7DAB08;
    }

   
}

@media screen and (min-width:700px) and (max-width:800px){
    .login-container {
        padding: 20px;
        background: white;
        border-radius: 5px;
    }
    
    .container{
        display: grid;
        margin-left: 2%;
    }
    
    h1{
        text-align: center;
        font-size: 40px;
    }
    
    h2{
        text-align: center;
        font-size: 30px;
    }
    
    h3{
        color: #7DAB08;
        font-size: 15x;
    }

    h4{
        font-size: 15x;

    }
    
    .sign-up{
        display: flex;
        margin-left: 8%;
        gap: 1%;
        font-size: 40px;
    
    }
    
    label {
        display: block;
        margin-bottom: 25px;
        margin-top: 5px;
        font-size: 30px;
    }
    
    input {
        width: 88%;
        padding: 25px;
        border: 5px solid #F2E5DD;
        border-radius: 4px;
        background-color: #F2E5DD;
    
    
    }
    
    button {
        width: 45%;
        padding: 15px;
        background-color: #070E50;
        color: white;
        border: none;
        font-size: 25px;
        border-radius: 7px;
        cursor: pointer;
        margin-top: 30px;
        margin-left:24%;
       
    }
    
    button:hover {
        background-color: #7DAB08;
    }

    
}

@media screen and (min-width:800px) and (max-width:912px){

    .login-container {
        padding: 20px;
        background: white;
        border-radius: 5px;
    }
    
    .container{
        display: grid;
        margin-left: 2%;
    }
    
    h1{
        text-align: center;
        font-size: 40px;
    }
    
    h2{
        text-align: center;
        font-size: 30px;
    }
    
    h3{
        color: #7DAB08;
        font-size: 15x;
    }

    h4{
        font-size: 15x;

    }
    
    .sign-up{
        display: flex;
        margin-left: 8%;
        gap: 1%;
        font-size: 40px;
    
    }
    
    label {
        display: block;
        margin-bottom: 25px;
        margin-top: 5px;
        font-size: 30px;
    }
    
    input {
        width: 88%;
        padding: 25px;
        border: 5px solid #F2E5DD;
        border-radius: 4px;
        background-color: #F2E5DD;
    
    
    }
    
    button {
        width: 45%;
        padding: 15px;
        background-color: #070E50;
        color: white;
        border: none;
        font-size: 25px;
        border-radius: 7px;
        cursor: pointer;
        margin-top: 30px;
        margin-left:24%;
       
    }
    
    button:hover {
        background-color: #7DAB08;
    }

    
}

@media screen and (min-width:1000px) and (max-width:1024px){
    .login-container {
        padding: 20px;
        background: white;
        border-radius: 5px;
    }
    
    .container{
        display: grid;
        margin-left: 2%;
    }
    
    h1{
        text-align: center;
        font-size: 40px;
    }
    
    h2{
        text-align: center;
        font-size: 30px;
    }
    
    h3{
        color: #7DAB08;
        font-size: 15x;
    }

    h4{
        font-size: 15x;

    }
    
    .sign-up{
        display: flex;
        margin-left: 20%;
        gap: 1%;
        font-size: 40px;
    
    }
    
    label {
        display: block;
        margin-bottom: 25px;
        margin-top: 5px;
        font-size: 30px;
    }
    
    input {
        width: 88%;
        padding: 25px;
        border: 5px solid #F2E5DD;
        border-radius: 4px;
        background-color: #F2E5DD;
    
    
    }
    
    button {
        width: 45%;
        padding: 15px;
        background-color: #070E50;
        color: white;
        border: none;
        font-size: 25px;
        border-radius: 7px;
        cursor: pointer;
        margin-top: 30px;
        margin-left:24%;
       
    }
    
    button:hover {
        background-color: #7DAB08;
    }

}

@media screen and (min-width:1030px) and (max-width:1284px){
    .login-container {
        padding: 20px;
        background: white;
        border-radius: 5px;
    }
    
    .container{
        display: grid;
        margin-left: 2%;
    }
    
    h1{
        text-align: center;
        font-size: 40px;
    }
    
    h2{
        text-align: center;
        font-size: 30px;
    }
    
    h3{
        color: #7DAB08;
        font-size: 15x;
    }

    h4{
        font-size: 15x;

    }
    
    .sign-up{
        display: flex;
        margin-left: 20%;
        gap: 1%;
        font-size: 40px;
    
    }
    
    label {
        display: block;
        margin-bottom: 25px;
        margin-top: 5px;
        font-size: 30px;
    }
    
    input {
        width: 88%;
        padding: 25px;
        border: 5px solid #F2E5DD;
        border-radius: 4px;
        background-color: #F2E5DD;
    
    
    }
    
    button {
        width: 45%;
        padding: 15px;
        background-color: #070E50;
        color: white;
        border: none;
        font-size: 25px;
        border-radius: 7px;
        cursor: pointer;
        margin-top: 30px;
        margin-left:24%;
       
    }
    
    button:hover {
        background-color: #7DAB08;
    }

}